<!-- <div id="media" style="height: 700px; background-color: rgb(74, 74, 97); padding-top: 70px;" >
    <h1 class="text-center">Media is under construction</h1>
    <div style="height: 200px;"></div>
</div> -->

<section id="media">
    <div class="container">
        <h1 class="text-center">Media</h1>
    </div>

<div class="bodyy">
    

<div class="image-container">
    <div class="image" style="--clip-start: ellipse(0 0 at 0 0); --clip-end: ellipse(150% 150% at 0 0);"><img src="../../assets/images/media/srerama.jpg"/><img src="../../assets/images/media/srerama.jpg"/></div>
    <div class="image" style="--clip-start: inset(100% 0 0 0); --clip-end: inset(0 0 0 0);"><img src="../../assets/images/media/farm.jpg"/><img src="../../assets/images/media/farm.jpg"/></div>
    <div class="image" style="--clip-start: ellipse(0 0 at 100% 0); --clip-end: ellipse(150% 150% at 100% 0);"><img src="../../assets/images/media/goa.jpg"/><img src="../../assets/images/media/goa.jpg"/></div>
    <div class="image" style="--clip-start: polygon(50% 50%,  50% 50%,  50% 50%, 50% 50%); --clip-end: polygon(-50% 50%, 50% -50%, 150% 50%, 50% 150%);"><img src="../../assets/images/media/news.jpg"/><img src="../../assets/images/media/news.jpg"/></div>
    <div class="image" style="--clip-start: circle(0); --clip-end: circle(125%);"><img src="../../assets/images/media/turtle.jpg"/><img src="../../assets/images/media/turtle.jpg"/></div>
    <div class="image" style="--clip-start: inset(100% 100% 100% 100%); --clip-end: inset(0 0 0 0);"><img src="../../assets/images/media/pool.jpg"/><img src="../../assets/images/media/pool.jpg"/></div>
    <div class="image" style="--clip-start: ellipse(0 0 at 0 100%); --clip-end: ellipse(150% 150% at 0 100%);"><img src="../../assets/images/media/interview.jpg"/><img src="../../assets/images/media/interview.jpg"/></div>
    <div class="image" style="--clip-start: inset(0 0 100% 0); --clip-end: inset(0 0 0 0);"><img src="../../assets/images/media/diwali.jpg"/><img src="../../assets/images/media/diwali.jpg"/></div>
    <div class="image" style="--clip-start: ellipse(0 0 at 100% 100%); --clip-end: ellipse(150% 150% at 100% 100%);"><img src="../../assets/images/media/bike.jpg"/><img src="../../assets/images/media/bike.jpg"/></div>
  </div>
        <!-- <div style="background-image: url('../../assets/images/media.jpg'); height: 700px; background-size: cover;"> </div> -->

</div>  
</section>


