<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

<section id="footer" >
     <div class="bady container">
<div class="social-buttons">
      <a target="_blank" href="https://www.facebook.com/bonamiles/"><i class="fab fa-facebook"></i></a>
      <a target="_blank" href="https://www.twitter.com/bonamiles/"><i class="fab fa-twitter"></i></a>
      <a target="_blank" href="https://www.instagram.com/bonamiles/"><i class="fab fa-instagram"></i></a>
      <a target="_blank" href="https://www.youtube.com/c/bonamiles/"><i class="fab fa-youtube"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/bonamiles/"><i class="fab fa-linkedin-in"></i></a>
</div>
</div>


<div class="quot container">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Live, Love, Learn</p>
        <footer class="blockquote-footer">Obinna Eva <cite title="Source Title">@bonamiles</cite></footer>
      </blockquote>
</div>


 
</section>

    
