button.showBut a
{
    color: white;
    text-decoration: none;
}

#shows
{
    background-color: #80C8BC;
    padding-top: 10px;

}

div.card
{
    border-radius: 20px;
}
div.card img
{
    border-radius: 20px;
}
div.card button
{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #389182;

}
div.card button.showBut:hover
{
    background-color: #389182;
    transition: 0.2s;
}