<header id="home">
  <div class="myBlur">
      <div class="container">
          <div>
              <h1><span>Hi</span><br>My name is Obinna Eva</h1>
              <p>I am an Artist, residing in Abuja, Nigeria. My day to day experiences influence how I write and perform Music.
                I play Live shows such as Wedding Events, Birthday Parties, Anniversaries etc. I also do regular shows in Restaurants and Pubs. </p>
              <button><a id="but" class="text-uppercase" (click)="onClickk('contact')">Book Me</a></button>


          </div>
          
      </div>
  </div>
  
</header>

