<section id="music">
  <div class="container" >
    <h1 class="text-center">Music</h1><div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card h-100">
          <img src="../../assets/images/album.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Album: One Six Four Five</h5>
            <p class="card-text">This is my Debut Album, very close my heart as it tells some of the story of my struggle till where I am now</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class=" card2 card h-100">
            <iframe src="https://open.spotify.com/embed/track/2i91I7daHVocVTcGKjtzyp?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>          <div class=" card-body">
              
              <h5 class=" card-title">Away</h5>
            <p class="card-text">Recent release off the album, One, four, five, six. A break up song that tells the story of a lover whose heart got broken, took sometime to move on but still held back by a changed ex</p>
           </div>          
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="../../assets/images/concert.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Waiting for release</h5>
            <p class="card-text">Give me sometime to figure out the title, ofcus thats why its not being released yet</p>
          </div>
        </div>
      </div>
    </div> 
  </div>
</section>