<section id="videos">
<div  class="container">
  <h1 class="text-center">Videos</h1>

<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card h-100">
        <iframe width="box-size" height="box-size" src="https://www.youtube.com/embed/WvvYNFDltSM" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title">She's Got  Man - Music Video</h5>
          <p class="card-text">This is the Music Video to my latest Song "She's got a Man", It's a song about a hopeless romantic who fell in love with his bestfriend who happens to already have a lover".</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <iframe  src="https://www.youtube.com/embed/U2LgxjYB5CE" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
        gyroscope; picture-in-picture" allowfullscreen></iframe>       
        <div class="card-body">
          <h5 class="card-title">"Butta Bomma" Song Cover</h5>
          <p class="card-text">This is one of my recent favorite telugu songs, had to give it my own take..</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <iframe src="https://www.youtube.com/embed/KrqTLSGW0p8" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>        
        <div class="card-body">
          <h5 class="card-title">"Don't Care" Song Cover</h5>
          <p class="card-text">Ed Sheeran has been a major influence on how I record and produce Music, this is just one of my many favorites of his songs</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>